<!DOCTYPE html>
<html>
	<head>
		<title>Jake Alstad - Python, Django Developer</title>
		<meta name="description" content="The personal site of Jake Alstad, a Web Developer and Designer living in Houston, TX. I love Python, Django, Flask, and other open source software." />
		<meta name="viewport" content="width=device-width">
		<link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Raleway:400,700,200' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="wrapper" class="homepage">
			<h1>Jake Alstad</h1>
			<h2>Web Developer</h2>
			<p>I write web applications using <a href="http://www.djangoproject.com">Django</a>, <a href="http://flask.pocoo.org/">Flask</a>, and other open source software.</p>
			<p>Have a look at my <a href="/resume/">résumé</a>.</p>
			<hr/>
			<ul class="links">
				<li><a href="http://twitter.com/jakealstad">twitter</a></li>
				<li><a href="http://github.com/jakealstad">github</a></li>
				<li><a href="mailto:jake@jalstad.com">email</a></li>
			</ul>
		</div>
	</body>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5181123-5']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</html>
